.bg-custom
{
	background: #7b1fa2;
	
}
.navbar .nav-item .nav-link{
	font-size:20px;
	color:white;
}

.navbar-custom .nav-item:hover .nav-link{
	background:white;
	color:black;
	border-radius:20px;
	
}
.div-color{
	background-image:linear-gradient(to right top, #d59bde, #b677be, #98549e, #7a3080, #5d0262);
	height:79vh;
}



